<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Groupie Trackers</title>
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th,
      td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      th {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <h1>Groupie Trackers Data</h1>
    {{range .Index}}
    <div>
      <h2>{{.ID}}</h2>
      <p>Locations:</p>
      <ul>
        {{range .Locations}}
        <li>{{.}}</li>
        {{end}}
      </ul>
      <p>Dates: {{.Dates}}</p>
    </div>
    {{end}}
  </body>
</html>
