<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Relations</title>
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th,
      td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      th {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <h1>All Relations</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>DatesLocations</th>
        </tr>
      </thead>
      <tbody>
        {{range .Index}}
        <tr>
          <td>{{.ID}}</td>
          <td>
            <ul>
              {{range $key, $value := .DatesLocations}}
              <li>
                {{ $key }}:
                <ul>
                  {{range $value}}
                  <li>{{.}}</li>
                  {{end}}
                </ul>
              </li>
              {{end}}
            </ul>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </body>
</html>
