<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Artists</title>
  </head>
  <body>
    <h1>Artists List</h1>
    <ul>
      {{range .}}
      <li>
        <p>ID: {{.ID}}</p>
        <p>Name: {{.Name}}</p>
        <img src="{{.Image}}" alt="artist" />
        <p>Members:</p>
        <ul>
          {{range .Members}}
          <li>{{.}}</li>
          {{end}}
        </ul>
        <p>Creation Date: {{.CreationDate}}</p>
        <p>First Album: {{.FirstAlbum}}</p>
      </li>
      {{end}}
    </ul>
  </body>
</html>
